coffee:
  $ ->
    $('ul.tabs').tabs()

= controller_stylesheet
= controller_javascript

= render partial: 'shared/breadcrumbs', locals: { levels: [{txt: @section.name, url: section_unities_path(@section)}, {txt: @unity.name, url:section_unity_topics_path(@section, @unity)}] }

= render partial: 'topics_tabs', collection: @topics, as: :topic
.container
  .row
    .col class="s12"
      = render partial: 'user_index', collection: @topics, as: :topic
      / , locals: {unities_count: @unities.count, unity_current: 0}
/ h1 Listing topics

/ table
/   thead
/     tr
/       th Unity
/       th Content
/       th
/       th
/       th

/   tbody
/     - @topics.each do |topic|
/       tr
/         td = topic.unity.name
/         td = topic.content
/         td = link_to 'Show', section_unity_topic_path(@section, @unity, topic)
/         td = link_to 'Edit', edit_section_unity_topic_path(@section, @unity, topic)
/         td = link_to 'Destroy', [@section, @unity, topic], data: { confirm: 'Are you sure?' }, method: :delete

/ br

/ = link_to 'New Topic', new_section_unity_topic_path
/ br
/ = link_to 'Atrás', section_unities_path