= controller_stylesheet
= controller_javascript

= render partial: 'shared/breadcrumbs', locals: { levels: [{txt: @section.name, url: section_unities_path(@section)}] }

.container
  .row
    .col class="s12"
      .row
        .col class="s12"
          = render partial: 'user_index', collection: @unities, as: :unity, locals: {unities_count: @unities.count, unity_current: 0}

= link_to 'Atrás', sections_path
/ h1 Listing unities

/ table
/   thead
/     tr
/       th Section
/       th Name
/       th Description
/       th
/       th
/       th

/   tbody
/     - @unities.each do |unity|
/       h3 = unity.inspect
/       tr
/         td = unity.section.name
/         td = unity.name
/         td = unity.description
/         td = link_to 'Show', section_unity_path(@section, unity)
/         td = link_to 'Edit', edit_section_unity_path(@section, unity)
/         td = link_to 'Destroy', [@section, unity], data: { confirm: 'Are you sure?' }, method: :delete

/ br

/ = link_to 'New Unity', new_section_unity_path