/* To horizontal-align an element. Similar to 'valign-wrapper' from Materialize */
/* Must be placed inside any .col element to avoid removing float property */
.halign-wrapper {
  margin: auto !important;
  float: none !important;
  padding: 0px !important;
}

/* To change label separation distance when input active */
.input-field label:not(.label-icon).active {
  $label_transformation: translateY(-165%) !important;
  
  -webkit-transform: $label_transformation;
  transform: $label_transformation;
}